.certificate {
    width: 210mm;
    height: 292mm;
    padding: 4px;
    box-sizing: border-box;
  }


  .greentick{
    background-image: url("assets/ttt.png");
    background-size: 80px;
    background-position: bottom;
    background-repeat: no-repeat;

  }