.certificate {
    width: 210mm;
    height: 272mm;
    padding: 4px;
    box-sizing: border-box;
  }



  .backgrnd{
    background-image: url("./assets/qq.jpg");
    background-repeat: no-repeat;
    background-position: center;
   
    background-size: 465px;
   
    
  }

  