.certificate {
    width: 210mm;
    height: 272mm;
    padding: 4px;
    box-sizing: border-box;
  }



  .background{
    background-image: url("./assets/dummy_logo.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    opacity: .8;
    background-size: 160px;
   
    
  }

  