




.certificate {
    width: 210mm;
    height: 292mm;
    padding: 4px;
    box-sizing: border-box;
  }


  
  .container{
    background: url("assets/bkg.jpg") !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-position: right !important;
  }
