.certificate {
    width: 210mm;
    height: 292mm;
    padding: 4px;
    box-sizing: border-box;
  }


  .background1{
    background-image: url("assets/bg1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
 }

 .background2{
  background-image: url("assets/bg2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
}



